

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a1e79d;
    padding: 10px 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
  }
  
  .auth-buttons button {
    margin-left: 10px;
  }
  